<template name="header">
  <header class="page-topbar">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper" role="navigation">
        <a class="left brand-logo" href="{{pathFor 'home'}}">Bracket</a>
        <ul class="right hide-on-med-and-down" id="navigation">
          <li class="{{isPageActive 'home' 'newPosts'}}">
            <a href="{{pathFor 'newPosts'}}">New</a>
          </li>

          <li class="{{isPageActive 'bestPosts'}}">
            <a href="{{pathFor 'bestPosts'}}">Best</a>
          </li>
          {{#if currentUser}}
            <!--li class="{{activeRouteClass 'postSubmit'}}">
              <a href="{{pathFor 'postSubmit'}}">Submit Post</a>
            </li>
            <li class="dropdown">
              {{>notifications}}
            </li-->
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
  </header>
</template>
